
.box1{
    border: 1px solid lightgrey;
    border-bottom-left-radius: 70px;
    border-top-right-radius: 50px;
}
.box2{
    border: 1px solid lightgrey;
    border-bottom-right-radius:50px;
    border-top-left-radius:50px;
}
.box1:hover{
    background: linear-gradient(to right, #0ebbdb, #1ad5bc);
    color: #fff;
}
.box2:hover{
    background: linear-gradient(to right, #0ebbdb, #1ad5bc);
    color: #fff;
}
.box2:hover p{
    color: #fff;
}
.box1:hover p{
    color: #fff;
}
.boxText{
    padding-left: 20px;
}
.number{
    font-weight: 800;
    font-size: 40px;
}
.pText{
    font-family: Georgia;
    color: #bdc0bf;
}
.header{
    font-family: Georgia, "Times New Roman", Times, serif;
}